<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<br>
<br>
<br>


    
<form action="" method="get">
  <section class="text-gray-600 body-font">
      <div class="container px-5 py-24 mx-auto flex flex-wrap items-center">
        <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
          <h1 class="title-font font-large text-4xl text-pink-900"> Sentilysis</h1>
          <p class="leading-relaxed mt-4">|The emotion analyser|</p>
        </div>
        <div class="lg:w-2/6 md:w-1/2 bg-black-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
          <h2 class="text-green-500 text-lg font-lgtitle-font mb-5">Log In</h2>
          <div class="relative mb-4">
            <label for="username" class="leading-7 text-sm text-gray-600">User Name</label>
            <input type="text" id="username" name="username" class="w-full bg-white rounded border border-blue-300 focus:border-purple-500 focus:ring-2 focus:ring-purple-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required>
          </div>
          <div class="relative mb-4">
            <label for="password" class="leading-7 text-sm text-gray-600">Password</label>
            <input type="password" id="password" name="password" class="w-full bg-white rounded border border-blue-300 focus:border-purple-500 focus:ring-2 focus:ring-purple-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" required >
          </div>
          <button class="text-white bg-green-500 border-0 py-2 px-8 focus:outline-none hover:bg-green-600 rounded text-lg" href="dashboard.html">LOG IN</button>

          <label for="username" class="leading-7 text-sm text-gray-600">Create an Account,</label> <a label href="#">Click Here</label>

        </div>
      </div>
    </section>
  </form>
    

    
  <footer class="text-gray-600 body-font">
    <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
        <img src="logosenti.png" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-25 h-20 text-white p-2 bg-white-300 rounded-full" viewBox="0 0 24 24">
        <div class="flex-grow flex flex-wrap md:pl-20 -mb-10 md:mt-0 mt-10 md:text-left text-center">
          <div class="lg:w-1/4 md:w-1/2 w-full px-4">
            <h2 class="title-font font-medium text-blue-900 tracking-widest text-sm mb-3">SUPPORT</h2>
            <nav class="list-none mb-10">
              <li>
                <a class="text-gray-600 hover:text-gray-800">https://chat.openai.com/auth/login</a>
              </li>
              <li>
                <a class="text-gray-600 hover:text-gray-800">033456789</a>
              </li>
              <li>
                <a class="text-gray-600 hover:text-gray-800">987654329</a>
              </li>
            </nav>
          </div>
          
      <div class="bg-black-100">
          <div class="container py-14 px-25 flex flex-wrap flex-col sm:flex-row justify-end"></div>
          <p class="text-gray-500 text-sm text-right sm:text-right">© 2023 Sentilysis —
            <a href="file:///C:/Users/Sneha/Documents/login.html" rel="noopener noreferrer" class="text-gray-600 ml-1" target="_blank">@sentilysis</a>
          </p>
          <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-right sm:justify-start">
            <a class="text-gray-500">
              
          </span>
        </div>
      </div>
    </footer>  
   </body>
   </html>